<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <environmentbanner>
            <environments>
                <environments>
                    <![CDATA[{
                        "0":{"env":"prod","fe_bgcolor":"#7a0200","be_color":"#7a0200"},
                        "1":{"env":"preprod","fe_bgcolor":"#994100","be_color":"#994100"},
                        "2":{"env":"local","fe_bgcolor":"#005600","be_color":"#005600"}
                    }]]>
                </environments>
            </environments>
            <admin>
                <display_env>0</display_env>
                <colour_change>1</colour_change>
            </admin>
            <frontend>
                <enabled>0</enabled>
            </frontend>
        </environmentbanner>
    </default>
</config>
